/* style.css */

/* Universal */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    width: 1000px;
    font-family: Verdana, sans-serif;
}

/* Homepage & Recipe Titles */
h1,
#intro {
    text-align: center;
}

/* Split Homepage Into Three Columns */
.column {
    float: left;
    max-width: 33.33%;
    border: 1px solid black;
    padding: 0px 0px 20px 0px;
    text-align: center;
    margin: 25px 0px 0px 0px;
}
  
/* Prevent Objects From Floating Out of Columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Headers */
.header {
    max-width: 100%;
    text-align: center;
}

/* Header Font Size */
#font {
    font-size: 20px;
    margin: 32px 0px 16px 0px;
}

/* Images */
.image {
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}